table, h1 {
    text-align: center;
}

table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

th, td {
    width: 150px;
}

#price:hover, #date:hover {
    cursor: pointer;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}